body{
    background-color: #3E606F
}
header {
    text-transform: uppercase;
    background-color: #91AA9D;
    padding: 16px 0 16px 32px;
    font-size: 16pt;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
}
.container{
    display: inline;
}
.menu{
    background-color: #D1DBBD;
}
.menu logo {
    display: none;
  }
.logo{
    display: inline-block;
    background-color: #91AA9D;
    border-radius: 50%;
    height: 15%;
    width: 15%;
}
nav {
    display: inline-block;
    line-height: 48px;
    vertical-align: top;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 32pt;
}
h2{
    display: flex;
    justify-content: center;
}
ul ul {
    display: none;
    position: absolute; 
    margin: 0px; 
    padding: 0px;
    border: 1px solid;
}
ul .niveau2 {
    left: 0px;
    top: 22px;
}
ul .restaurant{
    left: 144px;
    top: -1px;
}
li {
    list-style-type: none;
    position: relative; 
    width: 140px;
    background-color: #3E606F;
    margin-left: 32px;
}
li:hover ul.niveau2, li li:hover ul.restaurant {
    display:block;
}
.petite {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.petite img{
    height: 30%;
    width: 30%;
}
footer{
    background-color: #172329;
    color: #91AA9D;
}
#burger, #burger-content {
    display: inline;
}
#burger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 30px;
    vertical-align: top;
    padding: 0;
    line-height: 47px;
    float: right;
    margin-right: 32px;
}
#burger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}
#burger-sidebar {
    display: none;
    position: fixed;
    width: 84%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}
#burger-sidebar li {
    display: block;
}
#burger-sidebar-header {
    background: #91AA9D;
    background-size: cover;
    height: 128px;
}
#burger-sidebar-body {
    padding: 16px 8px;
}
#burger-sidebar-body li:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 16px;
    width: 24px;
    height: 24px;
}
#burger-sidebar-body li:first-child:before {
    background-image: url(../entrants/icons/english.png);
}
#burger-sidebar-body li:nth-child(2):before {
    background-image: url(../entrants/icons/phone-incoming.svg);
}
#burger-sidebar-body li:nth-child(3):before {
    background-image: url();
}
#burger-sidebar-body .button {
    margin-top: 16px;
    text-align: center;
    float: none;
    display: block;
    height: auto;
    line-height: inherit;
    padding: 10px;
}

@media screen and (max-width: 1200px) {

    h1 {
        font-size: 42px;
        line-height: 56px;
    }
    #burger-content {
        display: none;
    }
    #burger-button, #burger-sidebar,
    .burger-activated #burger-overlay {
        display: block;
    }
    .burger-activated #burger-sidebar {
        transform: translateX(0);
    }
}